<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("partials/common-css") %>
</head>
<body>
    <%- include("partials/header") %>
    <%- include("partials/stats") %>
    <% if (user.accessLevel === "station") { %>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="/incident/create" role="button">Report an incident</a>
        </div>
    <%- include("partials/recentIncidents"); %>
    <%
    }
    %>
    <%- include("partials/common-js") %>
</body>
</html>